.div0 {
    border: 1px solid #E4DBD2;
    border-radius: 20px;
    background-color: #E4DBD2;
    margin: 0 18% ;
    margin-top: 6vh;
    padding: 0 0 3% 0;
}

.form2 {
    display: flex;
    flex-direction: column;
    align-items: center ;

}

.div_ultra{
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.div2\/5 {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.input2 {
    width: 7vw;
}